<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="navbar-header col-md-8">
           
            <a class="navbar-brand" rel="home" title="360 property viewer">360 property viewer</a>
               <ul class="nav navbar-nav navbar-right">
<a button type="button" class="btn btn-primary"ng-click="logout();">Logout</a>
</ul>
              
          </div>
           

        </div>
      </div>
    </div>


<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Dashboard</li>

    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                           <i class="icon-coffee green"></i>
                        </h4>
                        <div class="space-16"></div>
                        <center>
                        <h4>Welcome, you have been successfully logged in.</h4>
                            </center>
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#/property">
        <img src="http://threesixtyroom.x10host.com/assets/img/property.jpg
" alt="22" style="width:100%">
        <div class="caption">
          <p>This beautiful property based in the city centre has 3 floors and 4 bedrooms. A great location if you work local</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#/property">
        <img src="http://threesixtyroom.x10host.com/assets/img/property.jpg
" alt="22" style="width:100%">
        <div class="caption">
          <p>This beautiful property based in the city centre has 3 floors and 4 bedrooms. A great location if you work local</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#/property">
        <img src="http://threesixtyroom.x10host.com/assets/img/property.jpg
" alt="11" style="width:100%">
        <div class="caption">
          <p>This beautiful property based in the city centre has 3 floors and 4 bedrooms. A great location if you work local</p>
        </div>
      </a>
    </div>
  </div>
</div>



<!-- /.page-content -->