<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="navbar-header col-md-8">
           
            <a class="navbar-brand" rel="home" title="360 property viewer">360 property viewer</a>
               <ul class="nav navbar-nav navbar-right">
<a button type="button" class="btn btn-primary"ng-click="logout();">Logout</a>
</ul>
              
          </div>
           

        </div>
      </div>
    </div>

<!-- mini menu to make things clearer -->

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Property</li>

    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                           <i class="icon-coffee green"></i>
                        </h4>
                        <div class="space-16"></div>
                        <center>
                        <h4></h4>
                            </center>
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<center>
          <iframe src="http://threesixtyroom.x10host.com/360/360.html"  scrolling="no" style=" width: 500px; height: 400px;  overflow: hidden; border:none" ></iframe>
</center>

<!-- card displays for representing multiple properties -->

<div class="col-md-4">


        <img src="http://threesixtyroom.x10host.com/assets/img/blueprint1.png
" alt="blueprint" style="width:100%">
        <center><div class="caption">
          <p>This is the ground floor blueprint</p>
        </div>
        </center>

  </div>

 <div class="col-md-4">


        <img src="http://threesixtyroom.x10host.com/assets/img/blueprint2.png
" alt="blueprint" style="width:100%">
        <center><div class="caption">
          <p>This is the first floor blueprint</p>
        </div>
        </center>

  </div>


 <div class="col-md-4">


        <img src="http://threesixtyroom.x10host.com/assets/img/blueprint3.png
" alt="blueprint" style="width:100%">
        <center><div class="caption">
          <p>This is the second floor blueprint</p>
        </div>
        </center>

  </div>



<!-- /.page-content -->